@import '../../styles/mixins';

.sky {
  &__bird {
    position: relative;
    top: 0;
    height: auto;
    width: 50px;
    &--flying {
      @extend .sky__bird;
      @include flyby;
      position: absolute;
      top: 20%;
      transform: scaleX(-1);

      &-bottom {
        @extend .sky__bird--flying;
        top: 70%;
        left: 60%;
      }
    }
  }

  &__cloud { 
    height: auto; 
    width: 150px; 
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 2;
    @include clouds;

    &--right {
      top: 20%;
      left: 50%;
    }
    &--bottom{
      @extend .sky__cloud;
      top: 70%;
    }
  }
}