.navigation {
  position: fixed;
  top: 50%;
  right: 14px;
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  z-index: 10;
  text-align: right;
  font-weight: 700;

  > p, > a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 8px;
    transition: 0.3s;

    &:hover {
      color: #e28743
    }
  }
}