@import '../../styles/mixins';
.projects-list {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3%;
  z-index: 3;
  position: relative;

  @include tablet {
    flex-direction: row;
  }
}

.carousel-slider {
  * {
    height: 100%;
  }
}